<h1><%=  @guest.name %></h1>
<br>
<strong>Occupation: <%= @guest.occupation %></strong>
<br>
<br>
<strong>Appears on These Episodes: <% @appearances.each do |appearance| %>
   <ul>
   <li>Episode Number:<%= appearance.episode.number %>, Episode Date: <%= appearance.episode.date %></li>
   <ul>Appearance Rating: <%= appearance.rating %></ul>
   </ul>
<% end %>

