<h1>Create a New Appearance!</h1>

<% if flash[:message] %>
   <p style="background-color:Tomato;"><strong><%= flash[:message] %></strong></p>
   <% end %>

<%= form_for @appearance do |f| %>
<%= f.label :episode %>
<%= f.collection_select :episode_id, Episode.all, :id, :number %>
<br>
<br>
<%= f.label :guest %>
<%= f.collection_select :guest_id, Guest.all, :id, :name %>
<br>
<br>
<%= f.label :rating %>
<%= f.number_field :rating %>
<br>
<br>
<%= f.submit %>
<% end %>

